{{#each YelpReviews}}
<li class="list-group-item">
	<div style="font-size: medium; color:blue; font-weight:bold">{{username}}</div><img style="height:50px;" src="{{imageUrl}}" />
	{{content}}
</li>
{{/each}}